shamefully-hoist=true
public-hoist-pattern[]=*react-markdown*
public-hoist-pattern[]=*remark*
public-hoist-pattern[]=*unified*
public-hoist-pattern[]=*prism*
onlyBuiltDependencies:
  - sharp
  - webgpu
